%div{id: "#{dom_id website}_current_webpage_info"}
  - if webpage.present?
    = notice
    %ul
      %li
        Pages: #{website.webpages.count}
      %li
        Unscraped: #{website.webpages.where(status: "unscraped").count}
      %li
        URL: #{webpage.squiz_canonical_url}
  - else
    No current webpage
