%div{id: "#{dom_id website}_current_asset_info"}
  = notice
  %ul
    %li
      Assets: #{website.assets.count}
    %li
      Spidered: #{website.assets.where(status: "spidered").count}
    %li
      Unspidered: #{website.assets.where(status: "unspidered").count}
    %li
      Linked: #{website.assets.where(status: "linked").count}
    - if asset.present?
      %li
        URL: #{asset.canonical_url}
