%div{id: "#{dom_id website}_current_asset_info"}
  = notice
  - Rails.logger.silence do
    %ul
      %li
        ContentAsset: #{ContentAsset.publishable.count} of #{ContentAsset.count}
      %li
        Unspidered: #{website.assets.where(status: "unspidered").count}
      - DataAsset.subclasses.sort_by(&:name).each do |subclass|
        %li
          #{subclass.name}: #{subclass.publishable.count} of #{subclass.count}
      - if asset.present?
        %li
          URL: #{asset.canonical_url}
