%div{id: "#{dom_id website}_current_webpage_info"}
  = notice
  %ul
    %li
      Pages: #{website.webpages.count}
    %li
      Unscraped: #{website.webpages.where(status: "unscraped").count}
    - if webpage.present?
      %li
        URL: #{webpage.squiz_canonical_url}
