%div{id: "#{dom_id website}_page_list"}
  %h2 Unspidered sitemap
  - unspidered_sitemap_pages = Webpage.where(status: "unspidered")
  Count: #{unspidered_sitemap_pages.count}
  %table
    %thead
      %th< Asset ID
      %th< Name
      %th< URL
    %tbody
      - unspidered_sitemap_pages.each do |webpage|
        %tr
          %td<= webpage.asset.assetid
          %td<= webpage.asset.name
          %td
            - webpage.asset.asset_urls.each do |asset_url|
              = link_to asset_url.url, "https://#{asset_url.url}", target: :_blank
              %br
  %h2 Asset types
  %table
    %thead
      %th Asset type
      %th Count
    %tbody
      - Asset.group(:asset_type).order(:asset_type).count.each_pair do |key, count|
        %tr
          %td= key
          %td= count
  %h2 Pages
  %table
    %tbody
      - website.webpages.includes(:asset).order(:id).each do |page|
        %tr
          %td<= page.asset.short_name
          %td<= page.asset.assetid
          %td<= page.status
          %td<= page.squiz_canonical_url
