%div{id: "#{dom_id website}_page_list"}
  %h2 Asset types
  %table
    %thead
      %th Asset type
      %th Count
    %tbody
      - Asset.group(:asset_type).order(:asset_type).count.each_pair do |key, count|
        %tr
          %td= key
          %td= count
  %h2 Assets
  %table
    %tbody
      - website.assets.order(:id).each do |asset|
        %tr
          %td<= asset.short_name
          %td<= link_to asset.assetid, "#{website.url}/?a=#{asset.assetid}", target: "_blank"
          %td<= asset.status
          %td<
            %a{href: asset.canonical_url, target: "_blank"}<= asset.canonical_url
