%h1 Generate Archive
%ul
  %li
    %a{href: "#assets"}< Assets (#{@website.assets.count})
  %li
    %a{href: "#content"}< Content (#{ContentAsset.count_with_subclasses("spidered")})
  %li
    %a{href: "#pdfs"}< PDF (#{PdfFileAsset.count_with_subclasses("linked")})
  %li
    %a{href: "#pdfs"}< Image (#{ImageAsset.count_with_subclasses("linked")})
  %li
    %a{href: "#pdfs"}< File (#{FileAsset.count_with_subclasses("linked")})
%h2{id: "content"} Content
%table
  %tbody
    - false && ContentAsset.where(status: "spidered").each do |asset|
      %tbody
        %tr
          %td<= asset.assetid
          %td<= asset.name
          %td<= asset.url
%h2{id: "pdfs"} PDFs
%table
  %tbody
    - false && PdfFileAsset.where(status: "linked").each do |asset|
      %tbody
        %tr
          %td<= asset.assetid
          %td<= asset.name
          %td<= asset.url
