.title
  %h1<Deddington History Readme

%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo placerat nulla eu sodales. Nullam pharetra libero a porttitor vestibulum. Etiam scelerisque tristique mauris, in placerat risus. Vestibulum ante augue, pharetra a nibh sed, finibus sollicitudin odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi sem orci, congue nec tincidunt vitae, gravida et turpis. Nam vel fermentum velit. Quisque aliquam eget enim ac sagittis. Phasellus mattis, nunc eu tincidunt condimentum, augue purus laoreet lorem, quis rhoncus eros massa sed dui. Aliquam sit amet augue a urna aliquet viverra. Etiam semper nunc risus, ac tempor justo fringilla eget. Vestibulum efficitur vitae ante et sodales. Quisque tristique, orci vitae lacinia sagittis, nulla dolor dignissim nibh, nec scelerisque massa lacus ullamcorper enim. Nullam ultricies mattis lacus.
%p
  Etiam a semper felis. Nam feugiat egestas sapien sit amet faucibus. Cras dictum augue nunc, venenatis congue urna accumsan sit amet. Nullam vitae vehicula velit. Fusce elit nibh, finibus non facilisis eget, eleifend eget ex. Phasellus placerat rhoncus erat sit amet convallis. Vestibulum vel facilisis metus, sed efficitur velit. Suspendisse fermentum convallis faucibus. Cras efficitur sem metus, ac elementum nulla commodo sit amet. Donec est velit, elementum a gravida nec, ultrices sit amet ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean efficitur, massa non vulputate vulputate, ex felis rhoncus nunc, nec rhoncus sem leo eu felis. Donec consectetur lacinia velit eget ornare. Duis rutrum orci eget nisi luctus tincidunt.

%ul
  %li{style: "font-weight: bold;"}<
    = link_to "Home page", "../pdf/000093-history.pdf"
  %li<
    = link_to "Table of Contents", "../pdf/toc-contents.pdf"
  %li<
    = link_to "PDF attachments", "../pdf/toc-pdfs.pdf"
  %li<
    = link_to "Images", "../pdf/toc-images.pdf"
  %li<
    = link_to "Office files", "../pdf/toc-offices.pdf"

%h2< Acknowledgements
%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo placerat nulla eu sodales. Nullam pharetra libero a porttitor vestibulum.

%p{style: "margin-top:8px;text-align:right;font-size:85%;color:#ccc;"}>
  Generated #{Time.now}