%h1 Listing webpages

%table
  %thead
    %tr
      %th Website
      %th H1
      %th Url
      %th Checksum
      %th
      %th
      %th

  %tbody
    - @webpages.each do |webpage|
      %tr
        %td= webpage.website
        %td= webpage.h1
        %td= webpage.url
        %td= webpage.checksum
        %td= link_to 'Show', webpage
        %td= link_to 'Edit', edit_webpage_path(webpage)
        %td= link_to 'Destroy', webpage, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Webpage', new_webpage_path
