%p#notice= notice

%p
  %b Website:
  = @webpage.website.name
%p
  %b Url:
  = link_to @webpage.url, @webpage.url
%p
  %b Checksum:
  = @webpage.checksum
- if false
  %p
    %b Children
  %ul
    - @webpage.children.each do |child|
      %li
        = link_to child.title, child
        = link_to child.url, child.url

= link_to 'Edit', edit_webpage_path(@webpage)
\|
= link_to 'Back', webpages_path
