= form_for @weblink do |f|
  - if @weblink.errors.any?
    #error_explanation
      %h2= "#{pluralize(@weblink.errors.count, "error")} prohibited this weblink from being saved:"
      %ul
        - @weblink.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :webpage_from
    = f.text_field :webpage_from
  .field
    = f.label :webpage_to
    = f.text_field :webpage_to
  .field
    = f.label :linktype
    = f.text_field :linktype
  .field
    = f.label :linkvalue
    = f.text_field :linkvalue
  .field
    = f.label :info
    = f.text_field :info
  .actions
    = f.submit 'Save'
