%p#notice= notice

%p
  %b Webpage from:
  = @weblink.webpage_from
%p
  %b Webpage to:
  = @weblink.webpage_to
%p
  %b Linktype:
  = @weblink.linktype
%p
  %b Linkvalue:
  = @weblink.linkvalue
%p
  %b Info:
  = @weblink.info

= link_to 'Edit', edit_weblink_path(@weblink)
\|
= link_to 'Back', weblinks_path
